.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2; /* Màu nền */
    padding: 20px;
    font-family: 'Anton';
    margin-top: 50px;
    border-radius: 4px;
  }
  
  .order_left,
  .order_right {
    text-align: center;
  }
  
  .order_left h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  .order_right{
    max-width: 994px;
    flex-grow: 1;
  }
  .order_right form {
    display: flex;
    justify-content: space-between;
  }
  
  .order_right .select,
  .order_right button {
    padding: 10px 20px;
    border: none;
    text-align: center;
    line-height: 20.8px;
    font-family: 'Anton';
    border-radius: 5px;
    background-color: #fff; /* Màu xanh lá cây */
    color: #673AB7;
    font-size: 16px;
    cursor: pointer;
  }
  .order_right .select{
    max-width: 160px;
    flex-grow: 1;
    border: 1px solid #ccc;
    position: relative;
  }
  .select-inner{
    position: absolute;
    min-width: 200px;
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
    top: 44px;
    right: 0px;
    color: #000;
    padding: 10px 10px ;
    display: none;
  }
  .order_right button {
    background-color: #673AB7;
    color: #fff; /* Màu tím */
  }
  