
.list-combo{
    margin-top: 100px;
  }

  .list-combo> h1
  {
        margin-bottom: 60px;
  }
  .list-combo-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .list-combo-item {
    flex-basis: 32%;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;

  }
  .list-combo-item img{
    max-width: 147px;
    border-radius: 3px;
  }
  .list-combo-item-inner {
    text-align: left;
    max-width: 228px;
    flex-grow: 1;
  
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #F8FAFC;
    line-height: 24.48px;
  }
  .list-combo-item-inner h2{
    text-transform: uppercase;
  }
  .list-combo-item-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .list-combo> h1 {
    font-size: 40px;
    color: #F8FAFC;
    text-transform: uppercase;
    font-family: 'Anton';
    margin-bottom: 30px;
}
.seat-sort-item{
    padding: 5px 15px;
    margin-top: 15px;
}