.movie-detail {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 20px;
}
.movie-detail  .information
{
    max-width: 714px;
    flex-grow: 1;
}
.movie-detail >h1{
    font-size: 4rem;
    font-family: 'Anton';
    color: #F8FAFC;
    text-align: left;
    line-height: 60px;

}
.movie-detail-tag{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-family: 'Intel';
}
.movie-detail-tag .cl span{
margin-left: 10px;
}
.movie-detail-description h1{
font-size: 24px;
font-family: 'Anton';
text-align: left;
color: #F8FAFC;
text-transform: uppercase;
margin-top: 40px;
margin-bottom: 30px;
}
.movie-detail-description p{
    color: #F8FAFC;
    font-size: 16px;
font-family: 'Josefin Sans';
text-align: left;
line-height: 30px;
}
.trailer{
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    color: #F8FAFC;
}
.trailer svg{
    margin-right: 10px;
}
.trailer a{

font-family: 'Josefin Sans';

text-decoration: underline;
}
.trailer a:hover{
    cursor: pointer;
}
.information > h1{
    font-size: 40px;
    font-family: 'Anton';
    color: #f8fafc;
    line-height: 55px;
    text-align: left;
    margin-bottom: 10px;
}

/*
--------------------------- schedule*/
.schedule{
    margin-top: 100px;
}
.schedule-inner{
    width: 100%;
 display: flex;
 flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 25px;
margin-top: 30px;
}
.schedule-inner .schedule-item:hover{
cursor: pointer;
}
.schedule-inner .schedule-item{
    max-width: 135px;
    padding: 20px;
    color: #f3ea28;
    border: 1px solid #f3ea28;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Anton';
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.schedule-inner .schedule-item span:last-child{
font-family: 'Josefin Sans';
}
/*
-----------------------------------list theater*/
.movie-detail-list-theater .title .dropdown{
text-transform: uppercase;
display: flex;
justify-content: center;
padding: 5px;

border: 1px solid #f3ea28;
border-radius: 5px;
font-size: 14px;
gap: 5px;
height: 30px;
position: relative;
padding-left: 25px;
color: #f3ea28 !important;
background-color:#0f172a;
appearance: none;
height: 40px !important;
}
.movie-detail-list-theater .title .dropdown p
{
    line-height: 14px;
    text-align: center;
    line-height: 30px;
}
.movie-detail-list-theater .title .dropdown svg{
    position: absolute;
    top: 28%;
    left: 7px;
}
.movie-detail-list-theater{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}
.movie-detail-list-screen{
    background-color: #639;
    border-radius: 5px;
    margin-top: 30px;
    padding: 24px;
}
.movie-detail-list-screen h2{
    font-size: 2.4rem;
    font-family: 'Josefin Sans';
    color: #f3ea28;
    margin-bottom: 24px;
    text-align: left;
    font-weight: 600;
}
.movie-detail-list-screen p,
.movie-detail-screen-item span{
    font-family: 'Josefin Sans';
    color: #f8fafc;
    font-size: 16px;
    text-align: left;
    margin-bottom: 24px;
}
.movie-detail-screen-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
}
.movie-detail-screen-item-alert{
    display: none !important;
}
.movie-detail-screen-inner a:hover{
    cursor: pointer;
}
.movie-detail-screen-inner a{
        max-width: 65px;
        padding: 8px 12px;
        border: 1px solid #F8FAFC;
        border-radius: 5px;
        color: #F8FAFC;
        font-family: 'Josefin Sans';
        font-size: 16px;
}
.movie-detail-list-screen-title{
    display: flex;
    justify-content: space-between;
}
.movie-detail-list-screen-title svg{
    font-size: 16px;
    color: #F8FAFC;
    font-weight: 600;
}
.movie-detail-list-screen-title svg:hover{
cursor: pointer;
}
.movie-detail-screen-item-ctn{
    display: block;
}
.movie-detail-screen-item-alert{
    border: 0.4px solid #F8FAFC;
    padding: 0 20px;
    padding-top: 20px;
    display: flex;
    color: #F8FAFC;
    gap: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

.choose-popcorn h1{
margin-top: 50px;
}
/*
--------------------------------chose ticket-----------------*/
.choose-ticket h1{
text-transform: uppercase;
margin-top: 100px;
margin-bottom: 30px;
}

.choose-ticket-ctn {
display: flex;
gap: 24px;

}
.choose-ticket-inner{
    max-width: 384px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    font-family: 'Josefin Sans';
    color: #F8FAFC;
    text-transform: uppercase;
    gap: 15px;
    border: 1px solid #F8FAFC;
    border-radius: 5px;
}
.cl-yl{
    color: #f3ea28;
}
/*
-----------------------choose seat---------------*/
.choose-seat h1{
margin-top: 100px;
margin-bottom: 50px;
}
.choose-seat .screen-image{
    position: relative;
}
.choose-seat .screen-image h3{
    color: #F8FAFC;
    font-size: 24px;
    font-family: 'Josafin Sans';
   
}
.screen-title{
    position: absolute;
    right: 0%;
    width: 100%;
    top: 60%;
}

.list-seat{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-family: 'Josafin Sans';
    color: #F8FAFC;
    padding:0 50px ;

}
.list-seat .list-seat-sort
{
    display: flex;
    flex-direction: column;
 
    margin-right: 20px;
}
.list-seat table tr{
display: flex;
gap: 30px;
margin-top: 15px;
}
.list-seat table tr td{
    padding: 5px 15px;
    background-color: #F8FAFC;
    border-radius: 5px;
    color: #663399;
    font-family: 'Anton';
    font-weight: 300;
}
.type-seat{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.type-seat-inner{
    max-width: 128px;
    flex-grow: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #F8FAFC;
    font-size: 16px;
    font-family: '';
}
.type-seat-item{
    padding: 10px 15px;
    background-color: #F8FAFC;
    border-radius: 5px;
    font-family: 'Josafin Sans';
}

.bk-cl-yl{
    background-color: #f3ea28;
}
.bk-cl-gr{
    background-color: #49576b;
}
.mb100{
    margin-bottom: 100px;
}
.order-ticket-time {
    position: sticky;
    bottom: 0; /* Điều chỉnh vị trí khi sticky (nếu cần) */
    width: 100vw; /* Chiều rộng bằng chiều rộng màn hình */
    margin-left: calc(-50vw + 47%);
    background-color: #0f172a;
    padding: 10px;
  
}
.tableseat td{
width: 17px ;
font-size: 12px !important;
}
.dl-none{
    display: none !important;
}
.seat-hv:hover{
    cursor: pointer;
}
.order-all-ctn{
    display: none;
}
.sizetoast{
    max-width: 300px;
}
.selected{
    background: #f3ea28 !important;
}
.w30{
    width: 30px !important;
    background-color: #f40785 !important;
}
.zzz{
    background-color: #f40785 !important;
}
.bd-yl{
    border: 1px solid #f3ea28 !important;
    
}
.on-click{
    background-color: #f3ea28;
    color: #663399 !important;
}
.order-ticket-time-ctn{
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;
}
.order-ticket-name{
    color: #F8FAFC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    gap: 5px;
    text-align: left;
}
.order-ticket-name h1{
    font-size: 24px;
    font-family: 'Anton';
}

.order-ticket-name p{
    font-size: 16px;
    font-family: 'Josefin Sans';
}
.order-ticket-total{
    max-width: 380px;
    flex-grow: 1;
    display: flex;
    gap: 10px;
}
.order-ticket-total-time{
    max-width: 128px;
    flex-grow: 1;
    background-color: #f3ea28;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 19px 10px;
    text-align: left;
    gap: 10px;
}
.order-ticket-total-time p,
.order-ticket-total-amount-top span{
    font-size: 14px;
    font-family: 'Josefin Sans';

}
.order-ticket-total-time h3,

.order-ticket-total-amount-top h3{
    font-size: 24px;
    font-family: 'Anton';
    
}
.order-ticket-total-amount{
    max-width: 241px ;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.order-ticket-total-amount-top{
    display: flex;
    justify-content: space-between;
    color: #F8FAFC;
    padding-top: 10px;
}
.order-ticket-total-button{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #f3ea28;
    font-family: 'Anton';
}
.order-ticket-total-button:hover{
    cursor: pointer;
}