.checkout-ctn h1{
    font-size: 40px;
    font-family: 'Anton';
    color: #f8fafc;
}
.checkout-ctn{
    padding-top: 100px;
    text-align: left;
}
.checkout-title{
    display: flex;
    margin-top: 30px;
    gap: 5px;

}
.checkout-title-innter{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Anton';
    color: #f8fafc;
    gap: 10px;
    text-align: center;
}
.border-white{
  

  width: 30px;
  padding-top: 40px;
}
.border-white div{
    width: 100%;
    border-bottom: 2px solid #f8fafc;
}
.checkout-information{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.checkout-information-left{
    width: 48%;
}
.checkout-information-left form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #f8fafc;
    font-family: 'Josefin Sans';
    font-size: 14px;
}
.checkout-information-left form div input{
    padding: 10px;
    margin-bottom: 20px;
}
.policy-in
{
    flex-direction: row !important;
    text-align: center;
  
}
.policy-in p{
    line-height: 20px;
}
.checkout-information-left button{
    text-transform: uppercase;
}
.checkout-information-right{
    padding: 10px ;
    border-radius: 5px;
    color: #f8fafc;
    font-family:  'Josefin Sans';
    font-size: 16px;
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.infor-title{
  
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;

}
.infor-title .timekeepticket{
    display: flex;
    align-items: center;
    gap: 5px;
}
.infor-title .timekeepticket div{
    background-color: #f3ea28;
    padding: 5px;
    border-radius: 3px;
    color: black;

}.infor-title  h2{
    font-weight: 600;
}
.checkout-information-right .infor-theater{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.checkout-information-right .infor-theater p{
    font-size: 14px;
}
.timeforticket h3{
    font-size: 14px;
}
.timeforticket{
    display: flex;
    flex-direction: column;
    gap: 5px;
}.timeforticket h3{
    color: #f3ea28;
}
.infor-screen{
    display: flex;
    gap: 10px;
}
.infor-screen div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.infor-screen div span:first-child{
    color: #f3ea28;
}
.infor-seat div span:first-child{
    color: #f3ea28;
}
.infor-seat{
    display: flex;
    gap: 10px;
}
.infor-food h3{
    color: #f3ea28;
}
.timekeepticket div{
    font-weight: 600;
}
.infor-seat div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.infor-food{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.infor-total{
    border-top:2px dashed #f8fafc ;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.infor-total h1{
    font-size: 20px;
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    color: #f3ea28;
}
.white{
    color: #f8fafc !important;
}