@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* src/Arrow.css */
.slick-prev, .slick-next {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  
    font-size: 24px; /* Kích thước font */
  
    border-radius: 50%;
    cursor: pointer;
    z-index: 1; 
  }
   .slick-next::before{
    font-size: 30px;

  }
  .slick-prev::before{
    font-size: 30px;

  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 10px;
  }
  .sliderlist-inner{
    max-width: 306px;
    flex-grow: 1;
  }
  .sliderlist-inner{
    padding: 0 12px;
    margin-left: 5px;
    height: 566px;
    overflow: hidden;
  }
  .sliderlist-inner img{
   max-width: 280px;
    height: auto;
  }

  .SliderList h1 {
    font-size: 40px;
    margin-top: 40px;
    font-family: 'Anton';
    margin-bottom: 40px;
    color: #F8FAFC;
}
  .trailer-order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Khoảng cách giữa các nút */

  }
  .SliderList{
    padding-bottom: 100px;
  }
  .sliderlist-inner h1{
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Josefin Sans';
  }
  .trailer-order a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff; /* Màu chữ trắng */
  }
  
  .trailer-order button {
    background-color: #F3EA28; /* Màu vàng */
    color: #0f172a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: 'Anton';
    max-width: 150px;
    flex-grow: 1;
  }
  
  /* Điều chỉnh kích thước icon và font theo ý muốn */
  .trailer-order a .IoIosPlayCircle {
    font-size: 24px;
    margin-right: 5px;
  }
  .viewmore{
   width: 245px;
    border: 1px solid #f3ea28;
    color: #f3ea28;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 20px;
    margin: 0 auto;
  }
  