@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap');

body {
  margin: 0;
   font-family: 'Anton';
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  font-size: 10px !important; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
